
.todos-container {
  text-align: center;

  h1 {
    font-size: 4.8rem;
    font-weight: bold;
    font-family: cursive;
    color: lightskyblue;
    text-shadow: 0 0 0.05em lightblue;
    user-select: none;
  }

  .todo {
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
    color: white;
    text-shadow: 0 0 0.05em gray;
    user-select: none;

    &.incomplete:before {

      margin-right: 10px;
      content: '☐';
    }
    
    .incomplete span {
      color: black;
    }

    &.completed:before {
      color: lightblue;
      margin-right: 10px;
      content: '☑';
    }
    &.completed span {
      color: lightgray;
      text-decoration: line-through;
    }
  }
}


